.control-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-right: 40px;
}

.control-wrapper.col-6 {
  width: 50%;
}

.control-wrapper .control-label {
  font-size: 12px;
  color: #2b2e33;
  margin-bottom: 5px;
}

.im-text-input {
  display: block;
  width: 100%;
  padding: 3px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
