@import './styles/variables.scss';

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn.primary {
  color: #fff;
  background-color: #fc9d2b;
  border-color: #fc9d2b;
}

.btn.secondary {
  color: #9fa9ba;
  background-color: #fff;
  border-color: #e6e6e6;
}

.icon-btn {
  height: 30px;
  width: 30px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  justify-content: center;
  color: $light;
}

.icon-btn:hover {
  background-color: #3486ef;
  color: #fff;
}
